<div class="list-sda">
  <h2>Llista de SDA</h2>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <table>
    <thead>
      <tr>
        <th>Títol</th>
        <th>Descripció</th>
        <th>Creada</th>
        <th>Grup</th>
        <th>Accions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sda of sdas">
        <td>{{ sda.title }}</td>
        <td>{{ sda.description }}</td>
        <td>{{ sda.createdAt | date:'short' }}</td>
        <td>{{ sda.groupName }}</td>
        <td>
          <button (click)="showSda(sda.sdaUUID)">Mostrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
