USE [master]
GO
/****** Object:  Database [RegistreCurricular]    Script Date: 19/03/2025 20:28:05 ******/
CREATE DATABASE [RegistreCurricular]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NewNewRegistreCurricular', FILENAME = N'/var/opt/mssql/data/NewNewRegistreCurricular.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NewNewRegistreCurricular_log', FILENAME = N'/var/opt/mssql/data/NewNewRegistreCurricular_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RegistreCurricular].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RegistreCurricular]
GO
/****** Object:  Table [dbo].[Centers]    Script Date: 19/03/2025 20:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Centers](
	[Name] [varchar](30) NOT NULL,
	[Municipality] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Centers] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompetenciesSDA]    Script Date: 19/03/2025 20:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompetenciesSDA](
	[UUID] [uniqueidentifier] NOT NULL,
	[UUIDSDA] [uniqueidentifier] NOT NULL,
	[UUIDSubject] [uniqueidentifier] NOT NULL,
	[Worked] [bit] NOT NULL,
 CONSTRAINT [PK_CompetenciesSDA] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompetenciesTPL]    Script Date: 19/03/2025 20:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompetenciesTPL](
	[UUID] [uniqueidentifier] NOT NULL,
	[Type] [tinyint] NOT NULL,
	[UUIDSubject] [uniqueidentifier] NOT NULL,
	[OrderBy] [tinyint] NOT NULL,
	[Description] [varchar](max) NOT NULL,
 CONSTRAINT [PK_CompetenciesTPL] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 19/03/2025 20:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Name] [varchar](20) NOT NULL,
	[TemplateName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CriteriaSDA]    Script Date: 19/03/2025 20:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CriteriaSDA](
	[UUID] [uniqueidentifier] NOT NULL,
	[UUIDSDA] [uniqueidentifier] NOT NULL,
	[UUIDCriteria] [uniqueidentifier] NOT NULL,
	[Worked] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CriteriaTPL]    Script Date: 19/03/2025 20:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CriteriaTPL](
	[UUID] [uniqueidentifier] NOT NULL,
	[UUIDCompetencie] [uniqueidentifier] NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[OrderByMain] [tinyint] NOT NULL,
	[OrderBy] [tinyint] NOT NULL,
 CONSTRAINT [PK_CriteriaTPL] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 19/03/2025 20:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[UUID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[CenterName] [varchar](30) NOT NULL,
	[CourseName] [varchar](20) NOT NULL,
	[Year] [nchar](10) NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SDA]    Script Date: 19/03/2025 20:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SDA](
	[UUID] [uniqueidentifier] NOT NULL,
	[UUIDUser] [uniqueidentifier] NOT NULL,
	[UUIDGroup] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Title] [varchar](30) NOT NULL,
	[Description] [varchar](max) NOT NULL,
 CONSTRAINT [PK_SDA] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectsTPL]    Script Date: 19/03/2025 20:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectsTPL](
	[UUID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](70) NOT NULL,
	[TemplateName] [varchar](20) NOT NULL,
	[Type] [tinyint] NOT NULL,
 CONSTRAINT [PK_SubjectsTPL_1] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Template]    Script Date: 19/03/2025 20:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template](
	[UUID] [uniqueidentifier] NOT NULL,
	[CourseName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Template] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TemplateTPL]    Script Date: 19/03/2025 20:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplateTPL](
	[Name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TemplateTPL] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCenterRelation]    Script Date: 19/03/2025 20:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCenterRelation](
	[UUIDUser] [uniqueidentifier] NOT NULL,
	[CenterName] [varchar](30) NOT NULL,
	[Role] [tinyint] NULL,
 CONSTRAINT [PK_UserCenterRelation] PRIMARY KEY CLUSTERED 
(
	[UUIDUser] ASC,
	[CenterName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroupRelation]    Script Date: 19/03/2025 20:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroupRelation](
	[UUIDUser] [uniqueidentifier] NOT NULL,
	[UUIDGroup] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserGroupRelation] PRIMARY KEY CLUSTERED 
(
	[UUIDUser] ASC,
	[UUIDGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/03/2025 20:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UUID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSdaRelation]    Script Date: 19/03/2025 20:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSdaRelation](
	[UUIDUser] [uniqueidentifier] NOT NULL,
	[UUIDSDA] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserSdaRelation] PRIMARY KEY CLUSTERED 
(
	[UUIDUser] ASC,
	[UUIDSDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VectorsSDA]    Script Date: 19/03/2025 20:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VectorsSDA](
	[NameVector] [varchar](20) NOT NULL,
	[UUIDSDA] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_VectorsSDA] PRIMARY KEY CLUSTERED 
(
	[NameVector] ASC,
	[UUIDSDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VectorsTPL]    Script Date: 19/03/2025 20:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VectorsTPL](
	[Name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_VectorsTPL] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CompetenciesTPL] ([UUID], [Type], [UUIDSubject], [OrderBy], [Description]) VALUES (N'6e3dc4a6-c316-4b23-969c-0046296c70a7', 0, N'cc6d8eeb-28b9-4c54-b148-9e44ff7e5392', 4, N'Educació emocional')
INSERT [dbo].[CompetenciesTPL] ([UUID], [Type], [UUIDSubject], [OrderBy], [Description]) VALUES (N'64552c01-7598-49fa-8207-010185f3b111', 1, N'a0ef2142-7ccf-4085-a769-a10e961e8f96', 3, N'Experimentar i crear amb les possibilitats del so, la imatge, el cos i els mitjans digitals i multimodals, mitjançant activitats i experiències que incorporin l’aprenentatge autoregulat per expressar i comunicar coneixements, idees, sentiments i emocions.')
INSERT [dbo].[CompetenciesTPL] ([UUID], [Type], [UUIDSubject], [OrderBy], [Description]) VALUES (N'c6eaae2f-f61d-4caf-9f4b-01664ad84098', 1, N'e725860a-5d47-42a3-96eb-6d7f26fdbb66', 2, N'Conèixer els riscos més rellevants per a la salut i començar a adoptar hàbits saludables per al seu benestar físic i mental.')
GO
INSERT [dbo].[CriteriaTPL] ([UUID], [UUIDCompetencie], [Description], [OrderByMain], [OrderBy]) VALUES (N'75cd16d2-4255-4d98-a190-00185ca54fd2', N'a950e7a5-ce17-47ad-b1a4-49e4430f0d6c', N'Interpretació de les accions de les persones com a subjectes en la història, dels diferents grups socials, relacions, conflictes, creences i condicionants per entendre que el present és el resultat de les accions del passat.', 7, 4)
INSERT [dbo].[CriteriaTPL] ([UUID], [UUIDCompetencie], [Description], [OrderByMain], [OrderBy]) VALUES (N'6bfbca4b-1b60-4802-90c3-00287d0ae2e0', N'497268a0-2402-44a9-8709-8adefe7f0470', N'Comunicar els resultats d''un procés d''investigació, individual o grupal, realitzat de forma acompanyada, sobre temes propers i d’interès personal.', 6, 2)
INSERT [dbo].[CriteriaTPL] ([UUID], [UUIDCompetencie], [Description], [OrderByMain], [OrderBy]) VALUES (N'db963c51-aff6-455f-8e50-007379c4e6a1', N'0c85348f-4b42-4f52-80c5-c704bd05561c', N'Aplicar les habilitats socials que contribueixen a establir relacions de convivència a l’aula, al ntre i a l’entorn proper.', 1, 3)
GO
INSERT [dbo].[SubjectsTPL] ([UUID], [Name], [TemplateName], [Type]) VALUES (N'267a57c5-1ad6-4f57-ba37-023e8bc12793', N'Llengua catalana i castellana', N'5e6e', 1)
INSERT [dbo].[SubjectsTPL] ([UUID], [Name], [TemplateName], [Type]) VALUES (N'aa80d37e-a8c2-4914-808c-052982b20160', N'Educació Artística', N'5e6e', 1)
INSERT [dbo].[SubjectsTPL] ([UUID], [Name], [TemplateName], [Type]) VALUES (N'7221611a-7fdf-4d3b-993c-142286e9eab5', N'Coneixement del medi natural, social i cultural', N'3r4t', 1)
GO
INSERT [dbo].[TemplateTPL] ([Name]) VALUES (N'1r2n')
INSERT [dbo].[TemplateTPL] ([Name]) VALUES (N'3r4t')
INSERT [dbo].[TemplateTPL] ([Name]) VALUES (N'5e6e')
GO
ALTER TABLE [dbo].[CompetenciesTPL] ADD  CONSTRAINT [DF_CompetenciesTPL_UUID]  DEFAULT (newid()) FOR [UUID]
GO
ALTER TABLE [dbo].[CriteriaTPL] ADD  CONSTRAINT [DF_CriteriaTPL_UUID]  DEFAULT (newid()) FOR [UUID]
GO
ALTER TABLE [dbo].[SDA] ADD  CONSTRAINT [DF_SDA_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SubjectsTPL] ADD  CONSTRAINT [DF_SubjectsTPL_UUID]  DEFAULT (newid()) FOR [UUID]
GO
ALTER TABLE [dbo].[CompetenciesSDA]  WITH CHECK ADD  CONSTRAINT [FK_CompetenciesSDA_CompetenciesTPL] FOREIGN KEY([UUIDSubject])
REFERENCES [dbo].[CompetenciesTPL] ([UUID])
GO
ALTER TABLE [dbo].[CompetenciesSDA] CHECK CONSTRAINT [FK_CompetenciesSDA_CompetenciesTPL]
GO
ALTER TABLE [dbo].[CompetenciesSDA]  WITH CHECK ADD  CONSTRAINT [FK_CompetenciesSDA_SDA] FOREIGN KEY([UUIDSDA])
REFERENCES [dbo].[SDA] ([UUID])
GO
ALTER TABLE [dbo].[CompetenciesSDA] CHECK CONSTRAINT [FK_CompetenciesSDA_SDA]
GO
ALTER TABLE [dbo].[CompetenciesTPL]  WITH CHECK ADD  CONSTRAINT [FK_CompetenciesTPL_SubjectsTPL] FOREIGN KEY([UUIDSubject])
REFERENCES [dbo].[SubjectsTPL] ([UUID])
GO
ALTER TABLE [dbo].[CompetenciesTPL] CHECK CONSTRAINT [FK_CompetenciesTPL_SubjectsTPL]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_TemplateTPL] FOREIGN KEY([TemplateName])
REFERENCES [dbo].[TemplateTPL] ([Name])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_TemplateTPL]
GO
ALTER TABLE [dbo].[CriteriaSDA]  WITH CHECK ADD  CONSTRAINT [FK_CriteriaSDA_CriteriaTPL] FOREIGN KEY([UUIDCriteria])
REFERENCES [dbo].[CriteriaTPL] ([UUID])
GO
ALTER TABLE [dbo].[CriteriaSDA] CHECK CONSTRAINT [FK_CriteriaSDA_CriteriaTPL]
GO
ALTER TABLE [dbo].[CriteriaSDA]  WITH CHECK ADD  CONSTRAINT [FK_CriteriaSDA_SDA] FOREIGN KEY([UUIDSDA])
REFERENCES [dbo].[SDA] ([UUID])
GO
ALTER TABLE [dbo].[CriteriaSDA] CHECK CONSTRAINT [FK_CriteriaSDA_SDA]
GO
ALTER TABLE [dbo].[CriteriaTPL]  WITH CHECK ADD  CONSTRAINT [FK_CriteriaTPL_CompetenciesTPL] FOREIGN KEY([UUIDCompetencie])
REFERENCES [dbo].[CompetenciesTPL] ([UUID])
GO
ALTER TABLE [dbo].[CriteriaTPL] CHECK CONSTRAINT [FK_CriteriaTPL_CompetenciesTPL]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Centers] FOREIGN KEY([CenterName])
REFERENCES [dbo].[Centers] ([Name])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Centers]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Courses] FOREIGN KEY([CourseName])
REFERENCES [dbo].[Courses] ([Name])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Courses]
GO
ALTER TABLE [dbo].[SDA]  WITH CHECK ADD  CONSTRAINT [FK_SDA_Groups] FOREIGN KEY([UUIDGroup])
REFERENCES [dbo].[Groups] ([UUID])
GO
ALTER TABLE [dbo].[SDA] CHECK CONSTRAINT [FK_SDA_Groups]
GO
ALTER TABLE [dbo].[SDA]  WITH CHECK ADD  CONSTRAINT [FK_SDA_Users] FOREIGN KEY([UUIDUser])
REFERENCES [dbo].[Users] ([UUID])
GO
ALTER TABLE [dbo].[SDA] CHECK CONSTRAINT [FK_SDA_Users]
GO
ALTER TABLE [dbo].[SubjectsTPL]  WITH CHECK ADD  CONSTRAINT [FK_SubjectsTPL_TemplateTPL] FOREIGN KEY([TemplateName])
REFERENCES [dbo].[TemplateTPL] ([Name])
GO
ALTER TABLE [dbo].[SubjectsTPL] CHECK CONSTRAINT [FK_SubjectsTPL_TemplateTPL]
GO
ALTER TABLE [dbo].[Template]  WITH CHECK ADD  CONSTRAINT [FK_Template_Courses] FOREIGN KEY([CourseName])
REFERENCES [dbo].[Courses] ([Name])
GO
ALTER TABLE [dbo].[Template] CHECK CONSTRAINT [FK_Template_Courses]
GO
ALTER TABLE [dbo].[UserCenterRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserCenterRelation_Centers] FOREIGN KEY([CenterName])
REFERENCES [dbo].[Centers] ([Name])
GO
ALTER TABLE [dbo].[UserCenterRelation] CHECK CONSTRAINT [FK_UserCenterRelation_Centers]
GO
ALTER TABLE [dbo].[UserCenterRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserCenterRelation_Users] FOREIGN KEY([UUIDUser])
REFERENCES [dbo].[Users] ([UUID])
GO
ALTER TABLE [dbo].[UserCenterRelation] CHECK CONSTRAINT [FK_UserCenterRelation_Users]
GO
ALTER TABLE [dbo].[UserGroupRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserGroupRelation_Groups] FOREIGN KEY([UUIDGroup])
REFERENCES [dbo].[Groups] ([UUID])
GO
ALTER TABLE [dbo].[UserGroupRelation] CHECK CONSTRAINT [FK_UserGroupRelation_Groups]
GO
ALTER TABLE [dbo].[UserGroupRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserGroupRelation_Users] FOREIGN KEY([UUIDUser])
REFERENCES [dbo].[Users] ([UUID])
GO
ALTER TABLE [dbo].[UserGroupRelation] CHECK CONSTRAINT [FK_UserGroupRelation_Users]
GO
ALTER TABLE [dbo].[UserSdaRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserSdaRelation_SDA] FOREIGN KEY([UUIDSDA])
REFERENCES [dbo].[SDA] ([UUID])
GO
ALTER TABLE [dbo].[UserSdaRelation] CHECK CONSTRAINT [FK_UserSdaRelation_SDA]
GO
ALTER TABLE [dbo].[UserSdaRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserSdaRelation_Users] FOREIGN KEY([UUIDUser])
REFERENCES [dbo].[Users] ([UUID])
GO
ALTER TABLE [dbo].[UserSdaRelation] CHECK CONSTRAINT [FK_UserSdaRelation_Users]
GO
ALTER TABLE [dbo].[VectorsSDA]  WITH CHECK ADD  CONSTRAINT [FK_VectorsSDA_SDA] FOREIGN KEY([UUIDSDA])
REFERENCES [dbo].[SDA] ([UUID])
GO
ALTER TABLE [dbo].[VectorsSDA] CHECK CONSTRAINT [FK_VectorsSDA_SDA]
GO
ALTER TABLE [dbo].[VectorsSDA]  WITH CHECK ADD  CONSTRAINT [FK_VectorsSDA_VectorsTPL] FOREIGN KEY([NameVector])
REFERENCES [dbo].[VectorsTPL] ([Name])
GO
ALTER TABLE [dbo].[VectorsSDA] CHECK CONSTRAINT [FK_VectorsSDA_VectorsTPL]
GO
USE [master]
GO
