USE [master]
GO
/****** Object:  Database [RegistreCurricular]    Script Date: 19/03/2025 20:29:42 ******/
CREATE DATABASE [RegistreCurricular]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NewNewRegistreCurricular', FILENAME = N'/var/opt/mssql/data/NewNewRegistreCurricular.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NewNewRegistreCurricular_log', FILENAME = N'/var/opt/mssql/data/NewNewRegistreCurricular_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RegistreCurricular].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RegistreCurricular]
GO
/****** Object:  Table [dbo].[Centers]    Script Date: 19/03/2025 20:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Centers](
	[Name] [varchar](30) NOT NULL,
	[Municipality] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Centers] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompetenciesSDA]    Script Date: 19/03/2025 20:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompetenciesSDA](
	[UUID] [uniqueidentifier] NOT NULL,
	[UUIDSDA] [uniqueidentifier] NOT NULL,
	[UUIDSubject] [uniqueidentifier] NOT NULL,
	[Worked] [bit] NOT NULL,
 CONSTRAINT [PK_CompetenciesSDA] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompetenciesTPL]    Script Date: 19/03/2025 20:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompetenciesTPL](
	[UUID] [uniqueidentifier] NOT NULL,
	[Type] [tinyint] NOT NULL,
	[UUIDSubject] [uniqueidentifier] NOT NULL,
	[OrderBy] [tinyint] NOT NULL,
	[Description] [varchar](max) NOT NULL,
 CONSTRAINT [PK_CompetenciesTPL] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 19/03/2025 20:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Name] [varchar](20) NOT NULL,
	[TemplateName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CriteriaSDA]    Script Date: 19/03/2025 20:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CriteriaSDA](
	[UUID] [uniqueidentifier] NOT NULL,
	[UUIDSDA] [uniqueidentifier] NOT NULL,
	[UUIDCriteria] [uniqueidentifier] NOT NULL,
	[Worked] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CriteriaTPL]    Script Date: 19/03/2025 20:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CriteriaTPL](
	[UUID] [uniqueidentifier] NOT NULL,
	[UUIDCompetencie] [uniqueidentifier] NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[OrderByMain] [tinyint] NOT NULL,
	[OrderBy] [tinyint] NOT NULL,
 CONSTRAINT [PK_CriteriaTPL] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 19/03/2025 20:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[UUID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[CenterName] [varchar](30) NOT NULL,
	[CourseName] [varchar](20) NOT NULL,
	[Year] [nchar](10) NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SDA]    Script Date: 19/03/2025 20:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SDA](
	[UUID] [uniqueidentifier] NOT NULL,
	[UUIDUser] [uniqueidentifier] NOT NULL,
	[UUIDGroup] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Title] [varchar](30) NOT NULL,
	[Description] [varchar](max) NOT NULL,
 CONSTRAINT [PK_SDA] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectsTPL]    Script Date: 19/03/2025 20:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectsTPL](
	[UUID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](70) NOT NULL,
	[TemplateName] [varchar](20) NOT NULL,
	[Type] [tinyint] NOT NULL,
 CONSTRAINT [PK_SubjectsTPL_1] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Template]    Script Date: 19/03/2025 20:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template](
	[UUID] [uniqueidentifier] NOT NULL,
	[CourseName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Template] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TemplateTPL]    Script Date: 19/03/2025 20:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplateTPL](
	[Name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TemplateTPL] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCenterRelation]    Script Date: 19/03/2025 20:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCenterRelation](
	[UUIDUser] [uniqueidentifier] NOT NULL,
	[CenterName] [varchar](30) NOT NULL,
	[Role] [tinyint] NULL,
 CONSTRAINT [PK_UserCenterRelation] PRIMARY KEY CLUSTERED 
(
	[UUIDUser] ASC,
	[CenterName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroupRelation]    Script Date: 19/03/2025 20:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroupRelation](
	[UUIDUser] [uniqueidentifier] NOT NULL,
	[UUIDGroup] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserGroupRelation] PRIMARY KEY CLUSTERED 
(
	[UUIDUser] ASC,
	[UUIDGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/03/2025 20:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UUID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSdaRelation]    Script Date: 19/03/2025 20:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSdaRelation](
	[UUIDUser] [uniqueidentifier] NOT NULL,
	[UUIDSDA] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserSdaRelation] PRIMARY KEY CLUSTERED 
(
	[UUIDUser] ASC,
	[UUIDSDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VectorsSDA]    Script Date: 19/03/2025 20:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VectorsSDA](
	[NameVector] [varchar](20) NOT NULL,
	[UUIDSDA] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_VectorsSDA] PRIMARY KEY CLUSTERED 
(
	[NameVector] ASC,
	[UUIDSDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VectorsTPL]    Script Date: 19/03/2025 20:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VectorsTPL](
	[Name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_VectorsTPL] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CompetenciesTPL] ADD  CONSTRAINT [DF_CompetenciesTPL_UUID]  DEFAULT (newid()) FOR [UUID]
GO
ALTER TABLE [dbo].[CriteriaTPL] ADD  CONSTRAINT [DF_CriteriaTPL_UUID]  DEFAULT (newid()) FOR [UUID]
GO
ALTER TABLE [dbo].[SDA] ADD  CONSTRAINT [DF_SDA_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SubjectsTPL] ADD  CONSTRAINT [DF_SubjectsTPL_UUID]  DEFAULT (newid()) FOR [UUID]
GO
ALTER TABLE [dbo].[CompetenciesSDA]  WITH CHECK ADD  CONSTRAINT [FK_CompetenciesSDA_CompetenciesTPL] FOREIGN KEY([UUIDSubject])
REFERENCES [dbo].[CompetenciesTPL] ([UUID])
GO
ALTER TABLE [dbo].[CompetenciesSDA] CHECK CONSTRAINT [FK_CompetenciesSDA_CompetenciesTPL]
GO
ALTER TABLE [dbo].[CompetenciesSDA]  WITH CHECK ADD  CONSTRAINT [FK_CompetenciesSDA_SDA] FOREIGN KEY([UUIDSDA])
REFERENCES [dbo].[SDA] ([UUID])
GO
ALTER TABLE [dbo].[CompetenciesSDA] CHECK CONSTRAINT [FK_CompetenciesSDA_SDA]
GO
ALTER TABLE [dbo].[CompetenciesTPL]  WITH CHECK ADD  CONSTRAINT [FK_CompetenciesTPL_SubjectsTPL] FOREIGN KEY([UUIDSubject])
REFERENCES [dbo].[SubjectsTPL] ([UUID])
GO
ALTER TABLE [dbo].[CompetenciesTPL] CHECK CONSTRAINT [FK_CompetenciesTPL_SubjectsTPL]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_TemplateTPL] FOREIGN KEY([TemplateName])
REFERENCES [dbo].[TemplateTPL] ([Name])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_TemplateTPL]
GO
ALTER TABLE [dbo].[CriteriaSDA]  WITH CHECK ADD  CONSTRAINT [FK_CriteriaSDA_CriteriaTPL] FOREIGN KEY([UUIDCriteria])
REFERENCES [dbo].[CriteriaTPL] ([UUID])
GO
ALTER TABLE [dbo].[CriteriaSDA] CHECK CONSTRAINT [FK_CriteriaSDA_CriteriaTPL]
GO
ALTER TABLE [dbo].[CriteriaSDA]  WITH CHECK ADD  CONSTRAINT [FK_CriteriaSDA_SDA] FOREIGN KEY([UUIDSDA])
REFERENCES [dbo].[SDA] ([UUID])
GO
ALTER TABLE [dbo].[CriteriaSDA] CHECK CONSTRAINT [FK_CriteriaSDA_SDA]
GO
ALTER TABLE [dbo].[CriteriaTPL]  WITH CHECK ADD  CONSTRAINT [FK_CriteriaTPL_CompetenciesTPL] FOREIGN KEY([UUIDCompetencie])
REFERENCES [dbo].[CompetenciesTPL] ([UUID])
GO
ALTER TABLE [dbo].[CriteriaTPL] CHECK CONSTRAINT [FK_CriteriaTPL_CompetenciesTPL]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Centers] FOREIGN KEY([CenterName])
REFERENCES [dbo].[Centers] ([Name])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Centers]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Courses] FOREIGN KEY([CourseName])
REFERENCES [dbo].[Courses] ([Name])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Courses]
GO
ALTER TABLE [dbo].[SDA]  WITH CHECK ADD  CONSTRAINT [FK_SDA_Groups] FOREIGN KEY([UUIDGroup])
REFERENCES [dbo].[Groups] ([UUID])
GO
ALTER TABLE [dbo].[SDA] CHECK CONSTRAINT [FK_SDA_Groups]
GO
ALTER TABLE [dbo].[SDA]  WITH CHECK ADD  CONSTRAINT [FK_SDA_Users] FOREIGN KEY([UUIDUser])
REFERENCES [dbo].[Users] ([UUID])
GO
ALTER TABLE [dbo].[SDA] CHECK CONSTRAINT [FK_SDA_Users]
GO
ALTER TABLE [dbo].[SubjectsTPL]  WITH CHECK ADD  CONSTRAINT [FK_SubjectsTPL_TemplateTPL] FOREIGN KEY([TemplateName])
REFERENCES [dbo].[TemplateTPL] ([Name])
GO
ALTER TABLE [dbo].[SubjectsTPL] CHECK CONSTRAINT [FK_SubjectsTPL_TemplateTPL]
GO
ALTER TABLE [dbo].[Template]  WITH CHECK ADD  CONSTRAINT [FK_Template_Courses] FOREIGN KEY([CourseName])
REFERENCES [dbo].[Courses] ([Name])
GO
ALTER TABLE [dbo].[Template] CHECK CONSTRAINT [FK_Template_Courses]
GO
ALTER TABLE [dbo].[UserCenterRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserCenterRelation_Centers] FOREIGN KEY([CenterName])
REFERENCES [dbo].[Centers] ([Name])
GO
ALTER TABLE [dbo].[UserCenterRelation] CHECK CONSTRAINT [FK_UserCenterRelation_Centers]
GO
ALTER TABLE [dbo].[UserCenterRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserCenterRelation_Users] FOREIGN KEY([UUIDUser])
REFERENCES [dbo].[Users] ([UUID])
GO
ALTER TABLE [dbo].[UserCenterRelation] CHECK CONSTRAINT [FK_UserCenterRelation_Users]
GO
ALTER TABLE [dbo].[UserGroupRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserGroupRelation_Groups] FOREIGN KEY([UUIDGroup])
REFERENCES [dbo].[Groups] ([UUID])
GO
ALTER TABLE [dbo].[UserGroupRelation] CHECK CONSTRAINT [FK_UserGroupRelation_Groups]
GO
ALTER TABLE [dbo].[UserGroupRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserGroupRelation_Users] FOREIGN KEY([UUIDUser])
REFERENCES [dbo].[Users] ([UUID])
GO
ALTER TABLE [dbo].[UserGroupRelation] CHECK CONSTRAINT [FK_UserGroupRelation_Users]
GO
ALTER TABLE [dbo].[UserSdaRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserSdaRelation_SDA] FOREIGN KEY([UUIDSDA])
REFERENCES [dbo].[SDA] ([UUID])
GO
ALTER TABLE [dbo].[UserSdaRelation] CHECK CONSTRAINT [FK_UserSdaRelation_SDA]
GO
ALTER TABLE [dbo].[UserSdaRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserSdaRelation_Users] FOREIGN KEY([UUIDUser])
REFERENCES [dbo].[Users] ([UUID])
GO
ALTER TABLE [dbo].[UserSdaRelation] CHECK CONSTRAINT [FK_UserSdaRelation_Users]
GO
ALTER TABLE [dbo].[VectorsSDA]  WITH CHECK ADD  CONSTRAINT [FK_VectorsSDA_SDA] FOREIGN KEY([UUIDSDA])
REFERENCES [dbo].[SDA] ([UUID])
GO
ALTER TABLE [dbo].[VectorsSDA] CHECK CONSTRAINT [FK_VectorsSDA_SDA]
GO
ALTER TABLE [dbo].[VectorsSDA]  WITH CHECK ADD  CONSTRAINT [FK_VectorsSDA_VectorsTPL] FOREIGN KEY([NameVector])
REFERENCES [dbo].[VectorsTPL] ([Name])
GO
ALTER TABLE [dbo].[VectorsSDA] CHECK CONSTRAINT [FK_VectorsSDA_VectorsTPL]
GO
USE [master]
GO
