<div class="create-resum">
  <h2>Crea un nou Resum</h2>

  @if (errorMessage) {
    <div class="error">{{ errorMessage }}</div>
  }

  <form>
    <div>
      <label>Grup:</label>
      <select [(ngModel)]="selectedGroupUUID" name="selectedGroup">
        <option [value]="''" disabled>-- Selecciona un grup --</option>
        @for (group of groups; track group.uuid) {
          <option [value]="group.uuid">
            {{ group.name }} ({{ group.courseName }}) ({{ group.year }})
          </option>
        }
        @empty {
          <option disabled>No hi ha grups disponibles</option>
        }
      </select>
    </div>

    <button type="button" (click)="goToResume()">Veure Resum</button>
  </form>
</div>
